<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <title>Silver Macros</title>
</head>
<mat-tab-group dynamicHeight>
  <mat-tab label="Merge" >
    <h2>Xivic Station Merge/Split</h2>
    <button mat-raised-button color="primary" (click)="select_files()">Select Files</button>
    <mat-form-field appearance="fill">
      <mat-label>Select Station</mat-label>
      <mat-select placeholder="Pick an Export First!" [disabled]="disableSelect" [(ngModel)]="stationSelected" name="station">
        <mat-option *ngFor="let station of stations" [value]="station.id">
          {{station.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button color="accent" (click)="save_workbook()">Save Workbook</button>
  </mat-tab>
  <mat-tab label="Autofill">
    <a mat-raised-button color="accent" disableRipple="false" (click)="pick_template()">Pick Template</a>
    <button mat-raised-button color="accent" (click)="save_document()">Re-Save</button>
    <button mat-raised-button color="accent" (click)="initialize_binding()">Bind Fields</button>
    <mat-form-field appearance="fill">
      <mat-label>Station Name</mat-label>
      <input matInput placeholder="Traralgon" [(ngModel)]="field_stationName">
    </mat-form-field>
    <button mat-raised-button color="accent" (click)="set_binding()">Fill Fields</button>
  </mat-tab>
  <mat-tab label="Summary">[WIP]</mat-tab>
</mat-tab-group>